<!DOCTYPE html>
<html lang="en">
<head>
	<title>Applications</title>
	<% include ../partials/head %>
	<script>
		page = "applications";
	</script>
</head>
<body>
	<% include ../partials/nav %>
	<div class="container">
		<a href="#" onclick="newApplication();" class="btn">+</a>
		<h1>Applications</h1>
		<div id="applications">
			<% applications.forEach((application) => { %>
			<div onclick="deleteApplication('<%- application.slug %>')();" id="<%- application.slug %>" class="application <%= application.state %>">
				<div class="app-content">
					<h3 class="app-name"><%= application.name %></h3>
					<p>Latest Updates:</p>
					<% application.updates.forEach((update) => { %>
						<div class="app-update">
							<p class="app-meta">
								<span class="app-state"><%= update.state %></span>
								<span class="app-urgency"><%= update.urgency %></span>
							</p>
							<p class="app-text"><%= update.text %></p>
							<% if (update.value !== "" && update.value !== 0) { %>
							<div class="progress-bar">
								<div class="app-progress" style="width: <%= update.value %>%;">
									<span class="app-value"><%= update.value %></span>
									<div class="value-overlay"></div>
								</div>
							</div>
							<% } %>
						</div>
					<% }) %>
				</div>
				<div class="app-cover"></div>
			</div>
			<% }) %>
		</div>
	</div>
	<script>

		function deleteApplication(id) {
			return function() {
				var pretty = id.replace('%20', ' ');
				if (confirm("Are you sure you want to delete the application '" + pretty + "'? All updates for this application will be lost forever.")) {
					sendRequest("/api/applications/" + id, "DELETE", undefined, function(res, err) {
						if (err) {
							alert(err);
						} else {
							window.location.reload();
						}
					});
				}
			}
		}
	</script>
</body>
</html>
