<!DOCTYPE html>
<html lang="en">
<head>
	<title>Modules</title>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/nav %>
	<div class="container">
		<h1>Modules</h1>
		<% modules.forEach((module) => { %>
		<div class="module <%= module.state %>">
			<div class="mod-content">
				<h3 class="mod-name"><%= module.name %></h3>
				<p class="mod-state">state: <%= module.state %><br/>urgency: <%= module.urgency %></p>
				<p class="mod-text"><%= module.text %></p>
				<% if (module.value !== "" && module.value !== 0) { %>
				<div class="progress-bar">
					<div class="mod-value" style="width: <%= module.value %>%;">
						<%= module.value %>%
						<div class="value-overlay"></div>
					</div>
				</div>
				<% } %>
			</div>
			<div class="mod-cover"></div>
		</div>
		<% }) %>
	</div>
	<script src="/socket.io/socket.io.js" type="text/javascript"></script>
	<script>
		let socket = io();
		socket.on("module-update", msg => {
			console.log(msg);
		});
	</script>
</body>
</html>
